<h1>Profile</h1>

<a href="/surveys/new">Create Survey!</a>

<p>Surveys you created</p>

<% @surveys.each do |survey| %>
  <img src='<%="#{survey["pic_url"]}"%>' />
  <a href='<%= "/surveys/#{survey["id"]}" %>'><%=survey["title"]%></a>
  Number of people who have taken the survey: <%= survey["count"] %><br>
  Date created: <%= survey["created_at"] %><br>
  Date updated: <%= survey["updated_at"] %><br>
  <a href='<%="/surveys/#{survey["id"]}/results"%>'> Results summary </a><br><br><br><br>
<%end%>

