<div class="container">

  <div class="head">
    <h1><%= @user.name %>'s profile </h1>
    <div id="new_survey_button">
      <a href="/surveys/new">Create new survey</a>
    </div>
  </div>
 
  <div class="overview">
    <!-- <h4>Surveys you created</h4><br> -->
    <br><br>
    <table>
      <tr id="first_row">
        <td>Title</td>
        <td>Number of responses</td>
        <td>Summary</td>
      </tr>
    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <a href='<%= "/surveys/#{survey["id"]}" %>'><%=survey["title"]%></a>
        </td>

        <td>
          <%= survey["count"] %>
        </td>

        <td>
          <a href='<%="/surveys/#{survey["id"]}/results"%>'>Summary</a>
        </td>

      </tr>
    <%end%>
    </table>
  </div>

</div>










