<div class="container">

<% @stats.each do |stat| %>
  <div class="question_graph">
  
    <p><h2> Question: <%= stat[:question].question %> </h2></p>

    <% stat[:stats].each do |stat| %>

      <div class="graph_answer">"<%= stat[:answer] %>"   -   <%= stat[:count] %> respondents    -  <%= stat[:percent] %>% of respondents </div>
      <div class="graph_percent" data-percent='<%= "#{stat[:percent]}" %>'></div>

    <%end%>

  </div>
<% end %>
</div>

<script src="/js/results_graphs.js"></script>
