<img src='<%="#{@survey.pic_url}"%>' />
<a href='<%= "/surveys/#{@survey.id}" %>'><%=@survey.title%></a><br><br><br>
 <% @question_stats.each do |qs| %>
  Question: <%= qs[:question] %> <br><br>
  <table id="survey_results">
    <tr>
      <td>Answer</td>
      <td>Count</td>
    </tr>
    <% qs[:stats].each do |s| %>
    <tr>
      <td>
        <%=s[:answer] %>
      </td>
      <td>
        <%= s[:count] %>
      </td>
    </tr>
    <%end%>
  </table>
  <br><br>
  <%end%>
