<h2><%=@survey.title%></h2>
<a href=<%=@survey.pic_url%>><img src='/survey_pic/<%=@survey.id%>.jpg' /></a>
<h3><%=@survey.description%></h3>
<h3 id = "survey_taken"><%="You have already taken this survey" if @user.surveys_taken.exists?(@survey.id)%><h3>
<form method="post" action = "/surveys/<%=@survey.id%>">
  <ol>
    <% @survey.questions.order('id').each do |question| %>
    <li>
      <label for="<%=question.id%>"><%=question.question%></label>
        <ul>
        <% question.possible_answers.order('id').each do |answer| %>
          <li>
            <input class="required" type="radio" name="survey[<%=question.id%>]" value="<%=answer.id%>"/><%=answer.text%>
          </li>
        <% end %>
        </ul>
    </li>
    <% end %>
  </ol>
  <input type="submit" value="Submit"/>
</form>
<script src="/js/take_survey.js"></script>
