<div class="container">

	<div class="head">
		<h1>Individual Response</h1>
		<h2><%= @survey.title %></h2>
		<!-- <a href='<%= "/surveys/#{@survey.id}/results" %>'>Back to survey results</a> -->
	
		<br><br><br><br>
		Response by user: <span id="highlight"><%= @user.name %></span>
		<br><br>
	</div>

	<div class="indv_resp">
		<% @answers.each do |answer| %>
		<table>
		<!-- <td> -->
			<td>Question: <span id="question"><%= answer[:question] %></span></tr>
			<td>Answer: <span id="answer"><%= answer[:response] %></span></tr>
		<!-- </td> -->
		</table>
		 
		<br><br><br>
		<% end %>
	</div>
</div>